*::before,
*::after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* grid არის ორ შრიანი განზომილება, რომლის მეშვეობითაც
ხდება როგორც column ისევე, row ზე მოქმედება*/

/* ეს არის რაღაც რუკა, რომლითაც ვეუბნებით
ელემენტებს ,თუ როემლი სად უნდა დალაგდეს */
.App-layout {
  display: grid;
  grid-template-areas:
  /* გვაქვს ორი ჰორიზონტალური შრე, 3 სვეტი */
  /* პირველი ჰორიზონტალურ სივრცეში სამივესვეტს ჰედერი იკავებს*/
  /* მეორე ჰორიზონტალურში, მარცხნივ sidebar, შუა main
  მარჯვნივ main */
    "header header header"
    "sidebar main side";

  grid-template-columns: 270px 1fr 300px;
  /* ორი შრეა, პირველი ანუ ჰედერი იკავებს 60 პიქსელს */
  /* დანარჩენი sidebar main side, იკავებს სრულ სივრცეს
  დოკუემნტის anu 1fr მთლიანად დარჩენილ ადგილს აღიქვამს */
  grid-template-rows: 75px 1fr;
  height: 100vh;
}

/* მერე რეალრუად სადაც დაგვჭირდება იქ მივუთითებთ
grid-area: sidebar, grid-area:header და ასე შემდეგ */

body,
html {
  background-color: #1c1c2e;
}
